<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg" %>

<table>
	<tr>
		<th class="user-show">name</th>
		<th class="user-show"><%= user.name %></th>
	</tr>
	<tr>
		<th class="user-show">introduction</th>
		<th class="user-show"><%= user.introduction %></th>
	</tr>
</table>

<div class="edit-user btn">
	<% if user.id == current_user.id %>
		<%= link_to edit_user_path(user) do %>
			<i class="fas fa-wrench"></i>
		<% end %>
	<% else %>
		<%= link_to user_path(current_user) do %>
			<i class="fas fa-wrench"></i>
		<% end %>
	<% end %>
</div>

<h2>New book</h2>

	<%= form_for(book) do |f| %>

		<label>Title</label>
		<%= f.text_field :title, class:"new-book-form" %>

		<label>Opinion</label>
		<%= f.text_area :body, class:"new-book-form" %>

		<%= f.submit "Create Book", class:"btn btn-primary new-book-submit" %>

	<% end %>