<h1>User info</h1>

<%= form_for(@user) do |f| %>

	<% if @user.errors.any? %>
		<%= pluralize(@user.errors.count, "error") %> prohibited this obj from being saved:
		<ul>
			<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>

	<label>Name</label>
	<%= f.text_field :name %>

	<label>Introduction</label>
	<%= f.text_area :introduction %>

	<%= f.submit "Update User" %>


<% end %>